@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
  }
  code,
  pre {
    font-family: Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
}
/* we define color scheme here */
.theme-first {
  --color-base: 26 27 27;
  --color-surface: 17 16 16;
  --color-overlay: 38 46 51;
  --color-muted: 110 106 134;
  --color-subtle: 144 140 170;
  --color-text: 224 222 244;
  --color-love: 235 111 146;
  --color-gold: 246 193 119;
  --color-rose: 180 204 231;
  --color-pine: 49 116 143;
  --color-foam: 156 207 216;
  --color-iris: 179 178 179;
  --color-hightlight-low: 33 32 46;
  --color-hightlight-med: 64 61 82;
  --color-hightlight-high: 82 79 103;
  --background-image: url("./bg.svg");
}

.theme-second {
  --color-base: 250 244 237;
  --color-surface: 255 250 243;
  --color-overlay: 242 233 222;
  --color-muted: 152 147 165;
  --color-subtle: 121 117 147;
  --color-text: 87 82 121;
  --color-love: 180 99 122;
  --color-gold: 234 157 52;
  --color-rose: 215 130 126;
  --color-pine: 40 105 131;
  --color-foam: 86 148 159;
  --color-iris: 144 122 169;
  --color-hightlight-low: 244 237 232;
  --color-hightlight-med: 223 218 217;
  --color-hightlight-high: 206 202 205;
  --background-image: url("./bg.svg");
}


html,
body {
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-base));
  background-image: linear-gradient(
      rgb(var(--color-base) / 85%),
      rgb(var(--color-base) / 85%)
    ),
    var(--background-image);
}

.hover-underline-animation {
  position: relative;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-rose));
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 50% 80%; /* Pivot around the palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(var(--color-iris));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-iris));
}

.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.nsfw {
 /* black color full page */
  background-color: rgb(var(--color-base));
  color: rgb(var(--color-text));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0 1rem;
  overflow: hidden;
}

/* .dancing-image {
  animation: dancing 10s linear infinite;
}

@keyframes dancing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
} */